.select-filter .filter-type {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
}

.select-filter .filter-type.option-none { background: #fff; border: 1px solid #000 }
.select-filter .filter-type.option-blue { background: #2d6c9c; }
.select-filter .filter-type.option-green { background: #4caf50; }
.select-filter .filter-type.option-red { background: #d22346; }
.select-filter .filter-type.option-purple { background: #9c27b0; }
.select-filter .filter-type.option-yellow { background: #ffc107; }
.select-filter .filter-type.option-gray { background: #5e7180; }

a.fc-day-grid-event{
    padding: 0 5px;
}

.fc-content, .fc-title{
    display: flex;
    align-items: center;
}

.status-event{
    display: inline-flex;
    background-color: #fff;
    padding: 4px;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}
