.fstElement{
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.fstMultipleMode .fstControls{
    width: 100%;
}

.fstMultipleMode .fstQueryInput, .fstResultItem, .fstChoiceItem{
    font-size: 0.813rem;
}
