/*************************/
/** bootstrap overrides **/

.form-group {
    label {
        span {
            color: $red;
        }
    }
}


.layout-horizontal-bar {
    .main-header {
        .logo {
            max-width: 170px;
            position: relative;
            left: 20px;

            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
                display: block;
            }
        }
    }

    .header-topnav{
        .topnav a {
            padding: 13px 10px;
            text-transform: uppercase;
            font-size: 10px;
        }
    } 
}

.table {
    td {
        i {
            font-size: 16px;  
        }
    }
}
@media (max-width: 768px) {
    .layout-horizontal-bar {
        .main-header {
            .logo {
                max-width: 100px;
            }
        }
    }
}
@media (max-width: 580px) {
    .layout-horizontal-bar {
        .main-header {
            .logo {
                left: 0;
            }
        }
    }
}
/******* end *************/
/*************************/


/*************************/
/** multi-select styles **/

.fstElement{
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}
.fstElement.fstSingleMode {
    .fstToggleBtn {
        height: 33px;
        padding-top: 6px;
        font-size: 14px;
        font-weight: lighter;
    }
    .fstQueryInput {
        width: 100%;
        height: 33px;
        padding: 0 10px;
        font-size: 0.813rem;
        line-height: 1.5;
        color: #556774;
        background-color: rgba(45, 108, 156, 0.08);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.fstMultipleMode .fstControls{
    width: 100%;
    padding-top: 5px;
    height: 34px;

    .fstChoiceItem {
        height: 24px;
        padding-top: 1px;
        padding-right: 15px;
        padding-left: 30px;
        padding: 1px 15px 0 30px;
        background-color: rgba(45,108,156, 0.9);
        border-color: rgba(45,108,156, 0.9);
    }
}

.fstMultipleMode .fstQueryInput, .fstResultItem, .fstChoiceItem{
    font-size: 0.813rem;
}

.fstMultipleMode .fstQueryInput {
    font-size: 0.813rem;
    padding: 2px 0 0 10px;
    color: #3b4651;
}

.fstResults {
    .fstResultItem {
        border-color: transparent;
        border-bottom: 1px solid #f1f1f1;
        height: 33px;
        padding-left: 13px;
    }
    .fstResultItem.fstFocused {
        background-color: rgba(45,108,156, 0.7);
    }
    .fstResultItem.fstSelected {
        background-color: #2d6c9c;
    }
}
.fstNoResults {
    font-size: 11px;
    display: block;
    margin: 0;
    color: #2d6b9c;
    padding: 12px 0px 15px 14px;
    text-transform: uppercase;
    font-weight: bold;
}
/******* end *************/
/*************************/


/*************************/
/******* timepicker ******/

.app-input-timepicker {
    width: 100%;
    max-width: 80px;
    text-align: center;
}
.ui-timepicker-standard{
    font-size: 12px;

    .ui-state-hover {
        background-color: rgba(45,108,156, 0.2);
    }

    a:hover{
        background-color: rgba(45,108,156, 0.2);
    }
}
/******* end *************/
/*************************/

/*************************/
/******* timepicker ******/

.picker__select--month, .picker__select--year{
    height: 40px;
    font-size: 15px;
}

/******* end *************/
/*************************/


/*************************/
/*** theme markup ********/

.checkbox .checkmark.app-checkmark, 
.radio .checkmark.app-checkmark{
    top: 6px;
}

.form-actions {
    .btn-outline-secondary:hover, 
    .btn-outline-secondary:focus, 
    .btn-outline-secondary:active {
        background: inherit;
        color: inherit;
    }
}

.span-right-input-icon {
    pointer-events: none;
}

.auth-layout-wrap {
    background: #ededed;

    .auth-about {
        margin-top: -150px;

        img {
            display: block;
            max-width: 300px;
            margin: 0 auto; 
            margin-bottom: 50px;

        }

        @media (max-width: 767px) { 
            margin-top: 0;    
        }
    } 
}

/******* end *************/
/*************************/


/*************************/
/********* app ***********/

.app-container {
    max-width: 1250px;
}
.app-container-sm {
    max-width: 991px;
}
.app-centered {
    margin: 0 auto;
}

.app-breadcrumb {
    position: relative;
    margin-bottom: 0;
    top: 9px;
    padding-bottom: 17px;
}

.app-map-wrapper {
    .app-google-map {
        height: 300px;
    }
    .app-google-clear-map {
        text-transform: uppercase;
    }
}

#app-menu {
    width: 100%;
}

#app-menu-fit-label {
    position: relative;
    top: -3px;
}

.app-alert-success {
    border-radius: 3px;
    border: 1px solid #555e56;
    background: #f7fdfa;
}
.app-alert-danger {
    border-radius: 3px;
    border: 1px solid #e3342f;
    background: #fdf7f7;
}

.app-form-input-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 12px;
    color: $red;
}

.app-form-fields-container {
    padding-top: 30px;
}

.app-form-checkbox-label {
    position: relative;
    display: inline-block;
    top: 7px;
}

.app-icon-link {
    margin-right: 7px;
}

.app-file-wrapper {
    padding-top: 30px;
}

.card-img-overlay {
    .card-title {
        color: white;
        a {
            color: white;
        }
    }
}

.app-price-red {
    color: #e3342f;
}

.app-pm-description {
    font-size: 13px;
    color: #7b7b7b;
    margin-bottom: 0;
}
.app-months-list {
    padding-top: 8px;
    padding-inline-start: 10px;

    li {
        display: inline-block;
        list-style-type: none;
        width: auto;
        margin-right: 5px;
        padding: 0 7px 7px 0;

        .app-month-inactive {
            color: #7b7b7b;
        }
        .app-month-selected {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.app-td-date {
    font-size: 11px;
}

.app-table-file-limit-width {
    max-width: 120px;
    width: 100%;
}
.app-file-card {
    .card {
        border-radius: 5px;
        background: #e0e0e0;

        .card-img-overlay {
            padding: 10px 10px 12px 15px;

            h5 { margin-bottom: 0; }
        }

        .app-card-text-overlay {
            background: transparent;
            padding: 10px 10px 12px 15px;

            h5 { margin-bottom: 0; }
        }
        a {
            color: #333;
            font-size: 14px;
        }
        .text-white a {
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .app-heading-buttons {
        padding-top: 10px;
    }
    .app-search-buttons {
        padding-top: 10px;
    }
}

/******* end *************/
/*************************/


/*************************/
/********* tables ********/

.transaction-col-id { width: 4%; }
.transaction-col-date { width: 7%; }
.transaction-col-property { width: 12%; }
.transaction-col-name { width: 12%; }
.transaction-col-period { width: 14%; }
.transaction-col-credit { width: 7%; }
.transaction-col-charge { width: 7%; }
.transaction-col-balance { width: 10%; }
.transaction-col-audit { width: 10%; }
.transaction-col-file { width: 10%; }
.transaction-col-actions { width: 7%; }

/********* end ***********/
/*************************/