.app-container {
    max-width: 1250px;
}
.app-container-sm {
    max-width: 991px;
}

.app-breadcrumb {
    position: relative;
    margin-bottom: 0;
    top: 9px;
    padding-bottom: 17px;
}

#app-menu {
    width: 100%;
}

#app-menu-fit-label {
    position: relative;
    top: -3px;
}
