@import url(https://fonts.googleapis.com/css?family=Nunito);.app-container {
  max-width: 1250px;
}

.app-breadcrumb {
  position: relative;
  margin-bottom: 0;
  top: 9px;
  padding-bottom: 17px;
}

