.maid_fee {
    margin-top: 15px;
    text-align: left;
}

#maid_fee_base {
    font-size: 12px;
    color: #a1a1a1;
}

.cleaning-td-property {
    display: flex;
}

.square-clean {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
}

.title-iconography {
    margin-bottom: 20px;
}

.icons-frecuency {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-item {
    display: flex;
}

.app-form-checkbox-label {
    display: table;
}

#errors-modal {
    display: none;
    text-align: initial;
    padding: 40px;
    background-color: #ff5050;
    color: #fff;
}

.calendar-container {
    width: 100%;
    margin-bottom: 50px;
}

.calendar-container table {
    width: 100%;
}

.calendar-container th,
.calendar-container td {
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #fff;
}

.calendar-container .departure-only::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #d99694;
}

.calendar-container .arrival-only::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #d99694 transparent transparent;
}

.month-calendar {
    width: 100%;
    padding: 10px;
}

.btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns-container span {
    font-weight: bold;
    font-size: 30px;
    margin: 0px 10px;
}

.app-modal-notification .app-table-file-modal-dialog {
    max-width: 400px;
}
