/** clicbrands update **/
.content-top-container {
    background-color: #ffffff !important;
    background-image: url("../images/img-2.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center top !important;
}

body {
    border-top: 30px solid #2d6c9c;
}

/* menu */
#navbar {
    max-width: 100%;
}
.header-container {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.logo.navbar-btn {
    margin-top: 8.5px;
    margin-bottom: 8.5px;
}
.logo.navbar-btn img {
    max-width: 170px;
    position: relative;
    left: 10px;
}
li#fa-home,
li#fa-flag,
li#fa-star,
li#fa-bell,
li#fa-about,
li#fa-user {
    top: 0px;
}
.menu li.expanded ul {
    border-top: 0 !important;
    margin-top: 1.5px !important;
}
.menu li a {
    font-size: 16px !important;
}
.menu li a span.caret {
}
.menu li a span.fa {
    font-size: 12px !important;
}
.menu .dropdown-menu a {
    font-size: 14px !important;
}
li#fa-home.active {
    border-top: 5px solid #fad227;
}
li#fa-flag.active {
    border-top: 5px solid #fba516;
}
li#fa-star.active {
    border-top: 5px solid #f04345;
}
li#fa-bell.active {
    border-top: 5px solid #b762dc;
}
li#fa-about.active {
    border-top: 5px solid #06b9f4;
}
li#fa-user.active {
    border-top: 5px solid #46d3bd;
}

/* language */
#block-locale-language {
    top: -23px;
    right: 37px;
}
#block-locale-language li {
    line-height: 1em;
}
#block-locale-language a.language-link {
    color: white;
    font-size: 13px;
}

/* search block */
#block-quick-search-quick-search-block {
    padding: 13px;
    right: 0;
    top: 10px;
}
#block-quick-search-quick-search-block .btn.form-submit {
    padding: 8px 15px;
    position: relative;
    top: 2px;
    left: -3px;
    border-top: 1px solid #18bc9c;
    border-bottom: 1px solid #18bc9c;
}
#block-quick-search-quick-search-block .btn.form-submit .glyphicon-search {
    font-size: 12px;
    top: -1px;
}

/* search form */
#avail-search-form table tr:nth-child(2) {
    display: none;
}
#avail-search-form table tr td {
    vertical-align: top;
}
#avail-search-form .field-title {
    font-size: 25px;
}

/* home introduction columns */
#block-system-main
    .panel-panel
    .panel-pane:nth-child(1)
    .text-right
    > a:first-child {
    margin-bottom: 5px;
}

/* footer */
.footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.footer .office-item {
    font-size: 12px;
    line-height: 1.4em;
}
.footer .panel-col-bottom p {
    font-size: 12px;
    line-height: 1.3em;
    text-transform: lowercase;
}

/* search breadcrumbs */
#search-breadcrumbs .col-xs-3 {
    text-align: left !important;
}
#toggle-search {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: normal;
}

.navbar-default .navbar-toggle {
    background-color: #f39c12;
}

/* home listings columns */
.new-listings a {
    color: #5a81a1;
}

/* testimonials block */
.content-bottom-container {
    background-color: #f39c12;
    padding: 40px 0;
}
.view-testimonials-random .views-field-body:before {
    border-left: 20px solid #f39c12;
    border-top: 20px solid #f39c12;
}

/* search return button sidebar */
.region-sidebar-second #block-block-2 .text-right a {
    display: block;
    background: #18bc9c;
    color: white;
    text-align: left;
    padding: 10px 10px;
    font-size: 13px;
}

/* footer */
.footer .follow-link .fab {
    color: #f39c12;
}

/* main pane content */
.pane-content ul.list {
    margin-left: 0;
    padding-left: 20px;
}
.pane-content h4 {
    margin-top: 40px;
}

/* contact */
.page-contact-us #block-system-main .pane-3 a {
    word-wrap: break-word;
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
    /* menu */
    #navbar {
        width: 100%;
        padding: 0 0 0 20px;
    }
    .menu li a {
        font-size: 13px !important;
        padding-left: 12px;
        padding-right: 12px;
    }
    .logo.navbar-btn {
        margin-top: 17.5px;
    }
    .logo.navbar-btn img {
        max-width: 160px;
        top: 0;
    }
    #block-locale-language {
        padding-right: 13px;
    }

    /* search form */
    #avail-search-form .field-title {
        font-size: 19px;
    }

    /* home properties column */
    #block-system-main
        .pane-featured-listings-featured-listings-block
        .col-xs-3 {
        width: 47.5%;
        margin-bottom: 40px;
    }

    /* directorio de empresas */
    .view-business-directory .col-xs-6 img {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 800px) {
    .logo.navbar-btn {
        margin-top: 24.5px;
    }
    .logo.navbar-btn img {
        max-width: 130px;
    }
}

@media (max-width: 767px) {
    /* menu */
    .logo.navbar-btn img {
        max-width: 100px;
    }

    .logo.navbar-btn {
        margin-top: 8.5px;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #f0ba3a !important;
    }

    .navbar-toggle.collapsed {
        border: 1px solid #f0ba3a !important;
        border-radius: 2px !important;
    }

    .navbar-toggle {
        border: 1px solid #f0ba3a !important;
        border-radius: 0;
        background-color: #f0ba3a !important;
    }

    .navbar-collapse {
        margin-top: 10px;
    }

    #navbar {
        padding: 0 20px;
    }
    #block-locale-language {
        position: relative;
        top: 0;
        right: 0;
        padding-right: 0;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
    }
    #block-locale-language .language-switcher-locale-url {
        margin: 0 auto;
        width: auto;
        display: inline-block;
    }
    #block-locale-language a.language-link {
        font-size: 13px;
        color: #1abc9c;
    }
    .menu li a {
        font-size: 15px !important;
    }
    .menu .caret {
        left: auto;
        right: 12px;
        top: 19px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
        font-weight: bold;
    }
    body {
        border-top: 13px solid #2d6c9c;
    }

    #block-search-breadcrumbs-search-breadcrumbs-block {
        margin-top: 30px;
    }

    /* search button */
    #block-quick-search-quick-search-block {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    /* search form */
    #avail-search-form table td {
        display: inline-block;
        width: 48%;
        margin-bottom: 10px;
    }
    .pane-avail-search-avail-search-block .pane-content {
        padding-top: 70px;
    }

    /* home introduction columns */
    #block-system-main .panel-panel > .panel-pane:nth-child(1) .col-xs-8 {
        width: 60%;
    }
    #block-system-main .panel-panel > .panel-pane:nth-child(1) .col-xs-4 {
        width: 39%;
    }
    #block-system-main .panel-panel .pane-1 .col-xs-4 {
        width: 100%;
        margin-bottom: 70px;
        margin-left: 0;
        padding: 0 14px;
        text-align: left;
        margin-top: 30px;
    }
    #block-system-main .panel-panel .pane-custom.pane-2 .col-xs-6 {
        width: 100%;
        margin-bottom: 70px;
    }
    #block-system-main
        .panel-panel
        .panel-pane:nth-child(1)
        .text-right
        a:last-child {
        position: relative;
        top: -2px;
    }

    /* home features columns */
    #block-system-main .panel-panel .pane-2 .col-xs-4 .title {
        font-size: 20px;
        line-height: 1.5em;
    }

    /* home offers columns */
    #block-system-main .panel-panel .pane-3 .col-xs-4 {
        width: 49%;
        margin-bottom: 25px;
    }

    /* home new listings column */
    #block-system-main
        .panel-panel
        .pane-new-listings-new-listings-block
        .col-xs-6 {
        width: 100%;
        margin-bottom: 40px;
    }
    #block-system-main
        .panel-panel
        .pane-new-listings-new-listings-block
        .col-xs-6:last-child {
        margin-bottom: 0;
    }
    #block-system-main
        .panel-panel
        .pane-new-listings-new-listings-block
        .col-xs-6
        img {
        width: 100%;
        height: auto !important;
    }

    /* testimonials block */
    .view-testimonials tr td:last-child {
        display: none;
    }

    /* footer top */
    .region-footer-top img:first-child {
        width: 170px;
    }
    .region-footer-top img:last-child {
        width: 160px;
    }

    /* footer */
    .footer .center-wrapper .panel-col-first {
        width: 49%;
    }
    .footer .center-wrapper .panel-col {
        width: 49%;
    }
    .footer .center-wrapper .panel-col-last {
        display: none;
    }

    /* search breadcrumbs */
    #search-breadcrumbs .col-xs-3 {
        width: 100%;
        display: inline-block;
        padding-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 479px) {
    /* search button */
    #block-quick-search-quick-search-block {
        max-width: 100%;
        width: 100%;
    }
    #block-quick-search-quick-search-block .col-xs-10 {
        width: 80% !important;
    }

    /* search form */
    #avail-search-form table td {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pane-avail-search-avail-search-block .pane-content {
        padding-top: 40px;
    }

    /* home introduction columns */
    /*#block-system-main .panel-panel > .panel-pane:nth-child(1) .col-xs-8{
        width: 50%;
    }
    #block-system-main .panel-panel > .panel-pane:nth-child(1) .col-xs-4{
        width: 50%;
    }*/

    /* home features columns */
    #block-system-main .panel-panel .pane-2 .col-xs-4 {
        width: 100%;
        margin-bottom: 70px;
    }

    /* home properties column */
    #block-system-main
        .pane-featured-listings-featured-listings-block
        .col-xs-3 {
        width: 100%;
        margin-bottom: 40px;
    }

    /* home offers columns */
    #block-system-main .panel-panel .pane-3 .col-xs-4 {
        width: 100%;
    }

    /* home new listings column */
    #block-system-main
        .panel-panel
        .pane-new-listings-new-listings-block
        .col-xs-6 {
        width: 100%;
    }

    /* testimonials block */
    .view-testimonials tr td:last-child {
        display: block;
    }
    .view-testimonials tr td {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }

    /* footer top */
    .region-footer-top img:first-child {
        width: 130px;
    }
    .region-footer-top img:last-child {
        width: 120px;
    }

    /* footer */
    .footer .center-wrapper .panel-col-first {
        width: 100%;
    }
    .footer .center-wrapper .panel-col {
        width: 100%;
    }
    .footer .offices-container {
        margin-left: 0;
    }
    .panel-pane.pane-mailchimp-mailchimp-block {
        display: none;
    }
}
