.bg-none{
    background-image: none !important;
}

.panel-2col-stacked .panel-col-first{
    float: left;
    width: 50%;
}

.panel-2col-stacked .panel-col-last{
    float: left;
    width: 49.9%;
}

.panel-2col-stacked .panel-col-last .inside{
    margin: 0 0 1em .5em;
}

.hide-recent-views{
    display: none;
}

.app-map-wrapper .app-google-map {
    height: 300px;
}

.captcha-code{
    font-family: 'Yeon Sung', cursive;
    padding: 10px 0 20px 0;
    font-size: 40px;
    margin-bottom: 15px;
}

.property-rates{
    color: #666; 
	line-height:18px; 
	font-weight:500; 
	font: 14px/22px Arial, Helvetica, sans-serif;
}

#property-rate-info .alert a {
    font-weight: bold;
    text-decoration: underline;
    color: #FFF;
}

.first-calendar table{
    width: 100%;
}

.first-calendar th, .first-calendar td{
    padding: 6px;
}